
{# templates/team/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Team Details{% endblock %}

{% block body %}
    <h1>{{ team.name }}</h1>
    <div class="row">
        <div class="col-md-9 d-flex">
            <div class="btn-container"><a class="btn" href="{{ path('app_team_index') }}">back to list</a></div>
            <div class="btn-container">
                <a class="btn" href="{{ path('app_team_edit', {'id': team.id}) }}">edit</a>
            </div>
            <div class="btn-container">
                {{ include('team/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="col-md-3">
            Balance: {{ team.moneyBalance }}
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Players</h3>
            {% if players|length == 0 %}
                <p>No players in this team</p>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                            <tr>
                                <td>{{ player.name }}</td>
                                <td>{{ player.surname }}</td>
                                <td>{% if player.isOnMarket %}<a href="{{ path('retire_from_market', {'id': player.id}) }}">Unsell</a>{% else %}<a href="{{ path('put_on_market', {'id': player.id}) }}">Sell</a>{% endif %}</td>
                                <td>{% if not player.isOnMarket %}{{ include('player/_delete_form.html.twig') }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>

        <div class="col-md-4">
            <h3>New Player</h3>
            {{form_errors(playerForm)}}
            {{ form_start(playerForm) }}
            {{ form_widget(playerForm) }}
            <button type="submit" class="btn btn-primary">Create Player</button>
            {{ form_end(playerForm) }}
        </div>
        <div class="col-md-4">
            <h3>Transfer Player</h3>
            {{ form_errors(transferForm) }}
            {{ form_start(transferForm) }}
            {{ form_widget(transferForm) }}
            <button type="submit" class="btn btn-primary">Transfer Player</button>
            {{ form_end(transferForm) }}
        </div>
    </div>
    
{% endblock %}

