{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Football App{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <!-- Optional: Add your custom stylesheets here -->

    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('market') }}">Football App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        {% if app.user %}
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'market' %}active{% endif %}" href="{{ path('market') }}">Home</a>
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_team_index' %}active{% endif %}" href="{{ path('app_team_index') }}">Teams</a>
            </div>
        </div>
        {% else %}
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'market' %}active{% endif %}" href="{{ path('market') }}">Home</a>
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_team_index' %}active{% endif %}" href="{{ path('app_team_index') }}">Teams</a>
            </div>
        </div>
        {% endif %}
    </nav>
    <div>
        {% for flashMessage in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div>
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="container mt-4">
        {% block body %}{% endblock %}
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="{{ asset('js/jquery-3.3.1.slim.min.js')}}" ></script>
    <script src="{{ asset('js/popper.min.js')}}" ></script>
    <script src="{{ asset('js/bootstrap.min.js')}}" ></script>

    <!-- Optional: Add your custom scripts here -->

    {% block javascripts %}{% endblock %}
</body>
</html>
